<div class="container">
    <h1><img src="logo.jpg" style="height: 4.0rem"/>Skalender 2000-2015</h1>
    <h2>R.I.P</h2>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Suche... Lokal, Ort, Band, Datum"
                       ng-model="EventsCtrl.searchFish">
            </div>
        </div>
        Konzerte: {{EventsCtrl.totalItems}}/{{EventsCtrl.bigTotalItems}}
    </form>


    <uib-pagination
            total-items="EventsCtrl.totalItems"
            items-per-page="EventsCtrl.itemsPerPage"
            ng-model="EventsCtrl.currentPage"
            max-size="EventsCtrl.maxSize"
            class="pagination-sm"
            boundary-link-numbers="true"
            force-ellipses="true"
            rotate="true"></uib-pagination>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td class="hidden-xs hidden-sm">
                Id
            </td>
            <td class="hidden-xs hidden-sm">
                Datum
            </td>
            <td class="hidden-md hidden-lg hidden-xl">
                Datum
            </td>
            <td>
                Name/Lokal
            </td>
            <td>
                Bands
            </td>
            <td>
                Fotos
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="event in EventsCtrl.filtered.slice(((EventsCtrl.currentPage-1)*EventsCtrl.itemsPerPage), ((EventsCtrl.currentPage)*EventsCtrl.itemsPerPage)) | orderBy:EventsCtrl.sortType:EventsCtrl.sortReverse">
            <td class="hidden-xs hidden-sm">{{ event.uid }}</td>
            <td class="hidden-xs hidden-sm">{{ event.date | date:'dd.MM.yyyy' }}</td>
            <td class="hidden-md hidden-lg hidden-xl">{{ event.date | date:'dd.MM.yy' }}</td>
            <td><span ng-show="event.name">{{ event.name }}</br></span>{{ event.venue }}, <br/>{{ event.zip }} {{ event.city }}</td>
            <td>
                <ul>
                    <li ng-repeat="band in event.bands">
                        {{band.name}}
                    </li>
                </ul>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-show="event.pics"
                        ng-click="EventsCtrl.open(event, 'lg')">Fotos
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination
            total-items="EventsCtrl.totalItems"
            items-per-page="EventsCtrl.itemsPerPage"
            ng-model="EventsCtrl.currentPage"
            max-size="EventsCtrl.maxSize"
            class="pagination-sm"
            boundary-link-numbers="true"
            force-ellipses="true"
            rotate="true"></uib-pagination>


</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{event.venue}}</h3>
    </div>
    <div class="modal-body">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in event.pics" active="slide.active" index="slide.id">
                <img src="https://s3.amazonaws.com/celli-skalender-pics/{{event.uid}}/{{slide.name}}"
                     style="margin:auto;"/>
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    </div>
</script>
